{% extends "dictionary/dictionary_template.html" %}

{% block title %}
    Update tags
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dictionary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dictionary:dictionary-list-view' %}">Dictionaries <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dictionary:text-list-view' dict %}">Texts <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dictionary:word-list-view' dict %}">Words</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dictionary:tags-info' %}">Help</a>
                </li>
            </ul>
            <span class="navbar-text">
                Update tags
            </span>
        </div>
    </nav>
    <form method="post" id="post-form">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {{ form.tags_text }}
            </div>
            <button type="submit" class="btn btn-primary float-right"> Save </button>
        </div>
    </form>
{% endblock %}