{% extends "dictionary/dictionary_template.html" %}

{% block title %}
    Dictionaries
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dictionary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dictionary:dictionary-list-view' %}">Dictionaries <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dictionary:tags-info' %}">Help</a>
                </li>
            </ul>
            <span class="navbar-text">
                Dictionary list
            </span>
        </div>
    </nav>
    <div style="width: 700px; margin: 0 auto;">
	    <a href="{% url 'dictionary:create-dictionary' %} " style="text-align:center; width: 700px;">
            <button type="button" class="btn btn-primary btn-lg btn-block">Add</button>
        </a>
    </div>
    {% if dict_list %}
        <div class="list-group" style="width: 700px; margin: 0 auto;">
            {% for dict in dict_list %}
                <a href="{% url 'dictionary:dictionary-info-view' dict.pk %}" class="list-group-item list-group-item-action" style="text-align: center;">{{ dict.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No dicts are available.</p>
    {% endif %}
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dictionaries</title>
    </head>
    <body>
        <a href="{% url 'dictionary:create-dictionary' %} ">
            <button type="submit">Add</button>
        </a>
        {% if dict_list %}
            <ul>
            {% for dict in dict_list %}
                <li><a href={% url 'dictionary:dictionary-info-view' dict.pk %}>{{ dict.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No dicts are available.</p>
        {% endif %}
    </body>
</html>
-->