{% extends "dictionary/dictionary_template.html" %}

{% block title %}
    Add word
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dictionary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dictionary:dictionary-list-view' %}">Dictionaries <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dictionary:text-list-view' dict %}">Texts <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dictionary:word-list-view' dict %}">Words</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dictionary:tags-info' %}">Help</a>
                </li>
            </ul>
            <span class="navbar-text">
                Create word
            </span>
        </div>
    </nav>
	<h2>Here you can create a new word:</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
{% endblock %}