<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2>You can see this word in the texts:</h2>
        {% if text_list %}
            <ul>
            {% for text in text_list %}
                <li><a href={% url 'dictionary:text-info-view' dict.pk text.pk %}>{{ text.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No texts are available.</p>
        {% endif %}
    </body>
</html>